In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
ds = pd.read_csv('data/Apriori.csv', header = None)
ds.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
ds.shape

(7501, 20)

In [5]:
transaction = []
for i in range(0, 7501):
    transaction.append([str(ds.values[i, j] for j in range(0, 20))])

# Training Apriori Dataset

In [12]:
from apyori import apriori

In [13]:
rules = apriori(transaction, min_support = 0.003, min_confidence = 0.2, min_left = 3, min_length = 2)

In [15]:
results = list(rules)