In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
ds = pd.read_csv('data/Social_Network_Ads.csv')
ds.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [5]:
x = ds.iloc[:, [2, 3]].values
y = ds.iloc[:, 4].values

# Train Test Split

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=0)

# Features Scaling

In [8]:
from sklearn.preprocessing import StandardScaler

In [9]:
sc_x = StandardScaler()
x_train = sc_x.fit_transform(x_train)
x_test = sc_x.transform(x_test)

# Fitting The Classifier

In [11]:
from sklearn.naive_bayes import GaussianNB